<h1>New Kid Signup</h1>

<form action="/kids" method="POST">
  <label for="kid[name]">Name</label>
  <input type="text" name="kid[name]" value="<%= @kid.name %>">

  <label for="kid[age]">Age</label>
  <input type="number" name="kid[age]" value="<%= @kid.age %>">

  <input type="submit" value="Sign Up">
</form>