<h1>New Kid</h1>

<form action="/kids" method="POST">
	<li>Name: <input type="text" name="kid[name]" value=""></li>
	<li>Age	:<input type="text" name="kid[age]" value=""></li>
	<br>
	<input type="submit" name="" value="submit">
</form>
