<h1>New Kid Signup</h1>

<form action="/kids" method="POST">

  <label for="kid[name]">Name:</label>
  <input type="text" name="kid[name]"><br>

  <label for="kid[feeling]">Feeling:</label>
  <input type="text" name="kid[feeling]"><br>

  <label for="kid[age]">Age:</label>
  <input type="text" name="kid[age]"><br>

  <button type="submit">Make Kid</button>
</form>
