<h1>Kid show page</h1>

<!-- display their feeling, their age, and their name -->


<h3>Candy Count: <!-- count the number of candies they have here --></h3>

<!-- iterate through their candies here such that it could look like:
<ul>
  <li>Name: Skittles</li>
  <li>Name: Redhots</li>
</ul> -->


<!-- code the form that will send a patch to "/kids/:id/pig-out"
give it a consumption key with a value of number of candies to eat 
type="number" is probably better than type="text" -->

<!-- puts a link to the houses index page here and call the link "Go trick-or-treating" -->