<h1>All Houses</h1>

<ol>
  <% @houses.each do |house| %>
    <li><a href="/houses/<%= house.id %>"><%= house.address %></a></li>
    <ul>
    <% house.candies.each do |candy| %>
      <li><%= candy.name %></li>
    <% end %>
    </ul>
  <% end %>
</ol>