<h1>Houses Show Page</h1>

<!-- show the address here -->

<!-- iterate through unclaimedcandies here -->

<!-- put the trick-or-treat form here, you'll be subitting kid_id -->

<!-- link to this house's edit page here -->