<h1>Welcome to Halloween</h1>
<h2>The greatest holiday</h2>

<img src="http://cartoonpumpkin.jpg.to" alt="pumpkin"><br>

<!-- link to making a new kid here -->

<!-- link to the kids index page here -->

<!-- link to the houses index page here -->
