<h1>Welcome to Halloween</h1>
<h2>The greatest holiday</h2>

<img src="http://cartoonpumpkin.jpg.to" alt="pumpkin"><br>
<br>
<a href="/kids/new"><h3>Create New Kid</h3></a>
<a href="/kids"><h3>All The Kids</h3></a>
<a href="/houses"><h3>All The Houses</h3></a>
