<h1>Welcome to Halloween</h1>
<h2>The greatest holiday</h2>

<img src="http://cartoonpumpkin.jpg.to" alt="pumpkin"><br>

<a href="/kids/new">Create your avatar!</a> |


<a href="/kids">See the trick-or-treaters!</a> |

<a href="/houses">See the houses!</a>